---
import Section from "../Section.astro";
import { work } from "../../cv.json";
---

<Section title="Experience">
	<ul>
		{
			work.map(
				({
					name,
					startDate,
					endDate,
					position,
					summary,
					highlights,
				}) => {
					const startYear = new Date(startDate).getFullYear();
					const endYear =
						endDate !== null
							? new Date(endDate).getFullYear()
							: "Present";
					const years = `${startYear} - ${endYear}`;

					return (
						<li>
							<article>
								<header>
									<div>
										<h3>{name}</h3>
										<h4>{position}</h4>
									</div>
									<time>{years}</time>
								</header>
								<footer>
									<p>{summary}</p>
									<p>{highlights}</p>
								</footer>
								<small>
									Linkedin:{" "}
									<code>
										<a
											href="https://www.linkedin.com/company/cactaeco/posts/?feedView=all"
											target="_blank">
											Cacta</a>
										&
										<a href="https://www.linkedin.com/company/rhino-saas/" target="_blank">
											Rhino</a>.
									</code>
								</small>
							</article>
						</li>
					);
				}
			)
		}
	</ul>
</Section>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	article h3 {
		font-weight: 500;
	}
	article h4 {
		font-weight: 400;
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-bottom: 4px;
	}
	
	small {
		font-size: 0.85rem;
		color: #555;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
