---
import Section from "../Section.astro";
import { work } from "../../cv.json";
---

<Section title="Experience">
	<ul>
		{
			work.map(
				({
					name,
					startDate,
					endDate,
					position,
					summary,
					highlights1,
					highlights2,
					highlights3,
					summary2,
				}) => {
					const startYear = new Date(startDate).getFullYear();
					const endYear =
						endDate !== null
							? new Date(endDate).getFullYear()
							: "Present";
					const years = `${startYear} - ${endYear}`;

					return (
						<li>
							<article>
								<header>
									<div>
										<h3>{name}</h3>
										<h4>{position}</h4>
									</div>
									<time>{years}</time>
								</header>
								<footer>
									<p>{summary}</p>
									<ul class="highlights-ul">
										<li>
											<span class="highlights">
												• {highlights1}
											</span>
										</li>
										<li>
											<span class="highlights">
												• {highlights2}
											</span>
										</li>
										<li>
											<span class="highlights">
												• {highlights3}
											</span>
										</li>
									</ul>
									<p>{summary2}</p>
								</footer>
							</article>
						</li>
					);
				}
			)
		}
	</ul>
</Section>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	article h3 {
		font-weight: 500;
	}
	article h4 {
		font-weight: 400;
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-bottom: 4px;
	}
	.highlights-ul {
		gap: 0;
		padding: 0.5rem;
	}
	.highlights {
		font-size: small;
	}
	small {
		font-size: 0.85rem;
		color: #555;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
